<div class="header">
  <img src="../../medias/images/logo.svg" />
  <div class="menu">
    <div class="item" id="home">Home</div>
    <div class="item" id="services">Services</div>
    <div class="item" id="about">About</div>
    <div class="item" id="contacts">Contacts</div>
  </div>
  <button class="button">
    <span>Get a quote</span>
  </button>
</div>

<div class="header header_mobile">
  <img src="../../medias/images/logo.svg" />
  <div class="menu_container" id="menu_container">
    <div class="menu">
      <div class="item" id="home">Home</div>
      <div class="item" id="services">Services</div>
      <div class="item" id="about">About</div>
      <div class="item" id="contacts">Contacts</div>
    </div>
    <button class="button">
      <span>Get a quote</span>
    </button>
    <span class="exit_btn" id="exit_btn" onclick="closeMenu()">X</span>
  </div>
  <img
    class="menu_btn"
    src="../../medias/images/menu_icon.svg"
    height="48"
    width="48"
    id="menu_btn"
    onclick="openMenu()"
  />
</div>
