<div class="footer">
  <div class="links">
    <div class="link-item">
      <img
        src="../../medias/images/light_logo.svg"
        width="220"
        height="80"
      />
    </div>
    <div class="link-item">
      <div class="title">Quick links</div>
      <div class="text">Home</div>
      <div class="text">Services</div>
      <div class="text">About</div>
      <div class="text">Contacts</div>
    </div>
    <div class="link-item">
      <div class="title">Contacts</div>
      <div class="text">IC 171B</div>
      <div class="text">BetagLa Trinidad</div>
      <div class="text">2601 BENGUET</div>
      <div class="text">admin@asdigitalmkts.com</div>
    </div>
    <div class="link-item">
      <div class="title">Subscribe</div>
      <div class="text">Subscribe to our newsletter & stay updated</div>
      <div class="email_input">
        <input type="text" placeholder="Your email here" />
        <div class="button_send">
          <img src="../../medias/images/ArrowCircle.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="copyright_text">
    Copyright © 2023 As Digital Marketing Services
  </div>
</div>
